@import './variables';

.content-body {
    height: 100vh;
    background-color: $black;
}

.content-card {
    height: 80vh;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: $white;
    border: 1px solid $amber700;

}

.card-main {
    margin: 1rem;
    padding: 10px;
    font-size: 1.25rem;
    color: $white;
    background-color: black;
    opacity: 70%;
    // border: 1px solid $black;
}