@import "./variables";
@font-face {
    font-family: 'CC';
    src: url('/src/CedarvilleCursive-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
.content-header {
    background-color: $black;
    overflow: hidden;
}

.header-img-container {
    margin-left: 10rem;
    margin-right: 10rem;
}

.header-img {

    background-image: url('/src/header.jpg');
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 300px;
    opacity: 0.9;
    filter: grayscale(25%);
}

.header-text {
    font-family: 'CC';
    font-size: 60px;
    position: absolute;
    color: black;
    top: 120px;
    left: 200px;
    transform: rotate(-20deg);
}
.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 3rem;
    color: $black;
}

.navbar-link {
    cursor: pointer;
    padding: 1rem;
    background-color: $white;
}

.active {
    border: 3px solid $amber700;
    border-bottom: none;
}